<table mdbTable #tableEl="mdbTable" class="z-depth-1 text-center">
    <thead>
        <tr>
            <th *ngFor="let head of headElements; let i = index" scope="col">
                {{ head }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let el of elements; let i = index">
            <th *ngIf="
            i + 1 >= mdbTablePagination.firstItemIndex &&
            i < mdbTablePagination.lastItemIndex
          " scope="row">
                {{ el.socketid }}
            </th>
            <td *ngIf="
            i + 1 >= mdbTablePagination.firstItemIndex &&
            i < mdbTablePagination.lastItemIndex
          ">
                {{ el.ipaddress }}
            </td>
            <td *ngIf="
            i + 1 >= mdbTablePagination.firstItemIndex &&
            i < mdbTablePagination.lastItemIndex
          ">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-info  waves-light">
                            BUSCAR CLIENTE
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-danger  waves-light">
                            DESCONECTAR
                        </button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
        <tr>
            <td colspan="4">
                <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
            </td>
        </tr>
    </tfoot>
</table>