<div
  class="d-flex justify-content-center view view-cascade py-3 gradient-card-header default-color"
>
  <h5 class="font-weight-bold text-center text-white mb-0">
    Panel de Conexiones
  </h5>
</div>
<section class="card card-cascade narrower mb-5 border-1 padding-1">
  <div class="row">
    <div class="col-md-12">
      <div class="card-body ">
        <div class="row">
          <div class="col-md-12">
            <div class="row text-center">
              <div class="col-xl-4 col-md-6 mb-r">
                <!--Card Warning-->
                <mdb-card bgColor="warning-color" class="classic-admin-card">
                  <mdb-card-body>
                    <div class="pull-right">
                      <mdb-icon fas icon="wifi" size="3x"></mdb-icon>
                    </div>
                    <p style="font-weight: 400; font-size: 16px;">SOCKETS</p>
                    <h4 *ngIf="isLoadedData; else isLoading">
                      <strong>{{ SocketsCount }}</strong>
                    </h4>
                  </mdb-card-body>
                </mdb-card>
                <!--/.Card Warning-->
              </div>
              <div class="col-xl-4 col-md-6 mb-r">
                <mdb-card
                  bgColor="light-blue"
                  class="classic-admin-card lighten-1"
                >
                  <mdb-card-body>
                    <div class="pull-right">
                      <mdb-icon fas icon="users" size="3x"></mdb-icon>
                    </div>
                    <p style="font-weight: 400; font-size: 16px;">CLIENTES</p>
                    <h4 *ngIf="isLoadedData; else isLoading">
                      <strong>{{ ClientsCount }}</strong>
                    </h4>
                  </mdb-card-body>
                </mdb-card>
                <!--/.Card Blue-->
              </div>
              <div class="col-xl-4 col-md-6 mb-r">
                <!--Card Red-->
                <mdb-card bgColor="red" class="classic-admin-card accent-2">
                  <mdb-card-body>
                    <div class="pull-right">
                      <mdb-icon fas icon="taxi" size="3x"></mdb-icon>
                    </div>
                    <p style="font-weight: 400; font-size: 16px;">
                      CONDUCTORES
                    </p>
                    <h4 *ngIf="isLoadedData; else isLoading">
                      <strong>{{ DriversCount }}</strong>
                    </h4>
                  </mdb-card-body>
                </mdb-card>
                <!--/.Card Red-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #isLoading>
  <div class="text-center">
    <div class="spinner-grow text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>

<mat-tab-group mat-align-tabs="end">
  <mat-tab label="First">
    <ng-template mat-tab-label>
      <span class="text-dark">
        CLIENTES
      </span>
    </ng-template>
    <div class="card">
      <div class="card-header">
        <h5 class="font-weight-bold text-center text-green mb-0">
          <mdb-icon fas icon="desktop"></mdb-icon> Clientes Conectados
        </h5>
      </div>
      <div class="card-body" style="width: 100%; min-height: 100%;">
        <div class="container" *ngIf="isLoadedData; else isLoading">
          <app-clients-table></app-clients-table>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="First">
    <ng-template mat-tab-label>
      <span class="text-dark">
        CONDUCTORES
      </span>
    </ng-template>
    <div class="card">
      <div class="card-header">
        <h5 class="font-weight-bold text-center text-green mb-0">
          <mdb-icon fas icon="desktop"></mdb-icon> Conductores Conectados
        </h5>
      </div>
      <div class="card-body">
        <div class="container" *ngIf="isLoadedData; else isLoading">
          <app-drivers></app-drivers>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="First">
    <ng-template mat-tab-label>
      <span class="text-dark">
        SOCKETS
      </span>
    </ng-template>
    <div class="card">
      <div class="card-header">
        <h5 class="font-weight-bold text-center text-green mb-0">
          <mdb-icon fas icon="desktop"></mdb-icon> Conexiones Socket
        </h5>
      </div>
      <div class="card-body">
        <div class="container" *ngIf="isLoadedData; else isLoading">
          <app-sockets></app-sockets>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<div style="margin-top: 8em;"></div>
