<table mdbTable #tableEl="mdbTable" class="z-depth-1 text-center">
    <thead>
      <tr>
        <th *ngFor="let head of headElements; let i = index" scope="col">
          {{ head }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of elements; let i = index">
        <th
          *ngIf="
            i + 1 >= mdbTablePagination.firstItemIndex &&
            i < mdbTablePagination.lastItemIndex
          "
          scope="row"
        >
          {{ el.vehicleid }}
        </th>
        <td
          *ngIf="
            i + 1 >= mdbTablePagination.firstItemIndex &&
            i < mdbTablePagination.lastItemIndex
          "
        >
          {{ el.socketid }}
        </td>
        <td
          *ngIf="
            i + 1 >= mdbTablePagination.firstItemIndex &&
            i < mdbTablePagination.lastItemIndex
          "
        >
          {{ el.rfid }}
        </td>
        <td
          *ngIf="
            i + 1 >= mdbTablePagination.firstItemIndex &&
            i < mdbTablePagination.lastItemIndex
          "
        >
          <button
            type="button"
            class="btn btn-primary  waves-light"
            (click)="showModal(el.vehicleid)"
          >
            VER CLIENTE
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="4">
          <mdb-table-pagination
            [tableEl]="tableEl"
            [searchDataSource]="elements"
          ></mdb-table-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
  
  <div
    mdbModal
    #viewProfileModal="mdb-modal"
    class="modal fade right"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myviewProfileModalLabel"
    aria-hidden="true"
    [config]="{ backdrop: false, ignoreBackdropClick: true }"
  >
    <div
      class="modal-dialog modal-fluid modal-full-height modal-right modal-success"
      role="modal"
    >
      <div class="modal-content">
        <div class="modal-header default-color">
          <button
            ntype="button"
            class="close pull-right"
            aria-label="Close"
            (click)="viewProfileModal.hide()"
          >
            <span aria-hidden="true">×</span>
          </button>
  
          <h4 class="modal-title w-100 text-white" id="myModalLabel">
            Información del Usuario
          </h4>
        </div>
  
        <div class="modal-body" style="overflow-y: scroll;">
          <div *ngFor="let client of ClientInfo">
            <div class="row">
              <div class="col-md-3">
                <img
                  class="img-fluid card-img-top animated bounceIn img-thumbnail"
                  src="{{ client.avatar }}"
                  alt="Card image cap"
                  style="max-width: 100%; text-align: center;"
                />
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-12">
                    <h4>
                      {{ client.name }} <br /><small>{{ client.vehicleid }}</small>
                    </h4>
                    <span
                      class="border-bottom"
                      style="border-bottom: 1px solid black;"
                    ></span>
                  </div>
                  <div class="col-md-6">
                    <h6>Detalles</h6>
                    <span
                      class="border-bottom"
                      style="border-bottom: 1px solid black;"
                    ></span>
                    Status: {{ client.status }}
                  </div>
                  <div class="col-md-6">
                    <h6>Ultimos Viajes</h6>
                    <span
                      class="border-bottom"
                      style="border-bottom: 1px solid black;"
                    ></span>
                  </div>
                  <div class="col-md-6">
                    <h6>Posicion</h6>
                    <span
                      class="border-bottom"
                      style="border-bottom: 1px solid black;"
                    ></span>
                    X:: [{{ client.xposition }}] Z:: [{{ client.zposition }}]]
                  </div>
                  <div class="col-md-6">
                    <h6>Ultimos Viajes</h6>
                    <span
                      class="border-bottom"
                      style="border-bottom: 1px solid black;"
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer default-color-dark">
          <button
            type="button"
            class="btn btn-warning waves-light"
            aria-label="Close"
            (click)="viewProfileModal.hide()"
            mdbRippleRadius
          >
            <div class="row">
              <div
                class="col-md-7 d-flex justify-content-center align-self-center"
                style="font-size: 16px;"
              >
                CERRAR
              </div>
              <div class="col-md-5">
                <mdb-icon fas icon="arrow-right" size="3x"></mdb-icon>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
  